includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - Modules
    
    # Exclude specific paths
    excludePaths:
        - */database/*
        - */tests/*
        - */config/*
        - */routes/*
        - */bootstrap/*
        - */storage/*
        - */public/*
    
    # Treat PHP Doc types as native types
    treatPhpDocTypesAsCertain: true
    
    # Report unmatched ignored errors
    reportUnmatchedIgnoredErrors: false

